*{
  background-color: rgb(146, 143, 143);
  font-family: 'Noto Sans JP', sans-serif;
}

.table, th{
  border: 1px solid black;
  border-collapse: collapse;
}
.App{
  text-align: center;
  color: rgba(43, 40, 40, 0.774);
}
ul {
  list-style-type: none;  
}
a{
  color: rgb(143, 26, 143);
  text-decoration: none;
}
a:hover{
  color: blue;
}